@import '../../../styles/index.scss';
$prefix-cls: '#{$namespace}-multiple-tabs';

.#{$prefix-cls} {
  z-index: 10;
  height: $multiple-height + 2;
  // line-height: $multiple-height + 2;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(29, 35, 41, 0.05);

  .el-tabs {
    height: $multiple-height + 2;
  }

  .el-tabs__header {
    margin-bottom: 0;
  }

  .el-tabs__item {
    line-height: $multiple-height + 2;
    height: $multiple-height + 2;
    padding: 0 ($multiple-height / 2);
    font-size: 12px;
  }

  .el-tabs__nav {
    font-size: 0;
  }

  .el-tabs__nav-wrap::after {
    display: none;
  }
}
