:root {
  // header
  --header-bg-color: #394664;
  --header-bg-hover-color: #273352;
  --header-active-menu-bg-color: #273352;

  // sider
  --sider-dark-bg-color: #273352;
  --sider-dark-darken-bg-color: #273352;
  --sider-dark-lighten-1-bg-color: #273352;
  --sider-dark-lighten-2-bg-color: #273352;
  --sider-dark-lighten-3-bg-color: #273352;
}

$white: #fff;

$content-bg: #f0f2f5;

// --------------------------------
// ------------ 主题颜色 -----------
// --------------------------------
// $color-main: #8e83bc;
// $color-main-light: #EBD9DD;

// --------------------------------
// ------------ 边框 --------------
// --------------------------------
$border-color-dark: #898788;

$border-color-shallow-dark: #ABABAC;

$border-color-light: #E0E0E1; 

$border-color-shallow-light: #FEFEFE; 

// --------------------------------
// ------------ 背景 ------------
// --------------------------------
$bg-color-lg-r:  linear-gradient(to right, $primary-color, $warning-color);
$bg-color-lg-b:  linear-gradient(to bottom, $primary-color, $warning-color);
$bg-color-lg-rb:  linear-gradient(to right bottom, $primary-color, $warning-color);

// --------------------------------
// ------------ 文字 --------------
// --------------------------------
$heading-color: #323133;

// Main text color
$text-color-base: $text-color;

// Label color
$text-color-call-out: #606266;

// Auxiliary information color-dark
$text-color-help-dark: #909399;

// Auxiliary information color-light color
$text-color-help-light: #c0c4cc;

//登陆页面背景
$login-bg: linear-gradient(to right bottom, #0093E9, #80D0C7);
$login-hello: #1b82bd;

// ============ 组件 =============

// --------------------------------
// ------------ 头部 --------------
$header-dark-bg-color: var(--header-bg-color);
$header-dark-bg-hover-color: var(--header-bg-hover-color);
$header-light-bg-hover-color: #f6f6f6;
$header-light-desc-color: #7c8087;
$header-light-bottom-border-color: #eee;


// --------------------------------
// ------------ 侧边栏 --------------
$sider-dark-bg-color: var(--sider-dark-bg-color);
$sider-dark-darken-bg-color: var(--sider-dark-darken-bg-color);
$sider-dark-lighten-1-bg-color: var(--sider-dark-lighten-1-bg-color);
$sider-dark-lighten-2-bg-color: var(--sider-dark-lighten-2-bg-color);
$sider-dark-lighten-3-bg-color: var(--sider-dark-lighten-3-bg-color);

// --------------------------------
// ------------ 导航 --------------
// 头部导航
$top-menu-active-bg-color: var(--header-active-menu-bg-color);
// 侧边导航


