@import '../../../styles/index.scss';
$header-trigger-prefix-cls: '#{$namespace}-layout-header-trigger';
$header-prefix-cls: '#{$namespace}-layout-header';
$locale-prefix-cls: '#{$namespace}-app-locale-picker';
$breadcrumb-prefix-cls: '#{$namespace}-layout-breadcrumb';
$logo-prefix-cls: '#{$namespace}-app-logo';

.#{$header-prefix-cls} {
  display: flex;
  height: $header-height;
  padding: 0;
  margin-left: -1px;
  color: $white;
  background: $white;
  align-items: center;
  justify-content: space-between;

  &--light {
    background-color: $white;
    border-bottom: 1px solid $header-light-bottom-border-color;

    .#{$header-prefix-cls}-action {
      &__item {
        &:hover {
          background: $header-light-bg-hover-color;
        }

        .#{$locale-prefix-cls} {
          padding: 0 6px;
          color: rgba(0, 0, 0, 0.65);
        }
      }

      &-icon,
      span[role='img'] {
        color: $text-color-base;
      }
    }
  }

  &--dark {
    background-color: $header-dark-bg-color;
    .#{$header-prefix-cls}-logo {
      &:hover {
        background: $header-dark-bg-hover-color;
      }
    }

    .#{$header-prefix-cls}-action {
      &__item {
        &:hover {
          background: $header-dark-bg-hover-color;
        }
      }
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $layout-header-fixed-z-index;
  }

  &-left {
    display: flex;
    align-items: center;
    height: 100%;

    .#{$header-prefix-cls}-logo {
      height: 100%;
    }
    .#{$header-trigger-prefix-cls} {
      display: flex;
      height: 100%;
      padding: 1px 10px 0 16px;
      cursor: pointer;
      align-items: center;

      &.light {
        [class^="el-icon-"] {
          color: #000 !important;
        }
        &:hover {
          background: $header-light-bg-hover-color;
        }
      }

      &.dark {
        [class^="el-icon-"] {
          color: #fff !important;
        }
        &:hover {
          background: $header-dark-bg-hover-color;
        }
      }
    }
  }
  
  &-action {
    display: flex;
    align-items: center;
    padding-right: 12px;
    min-width: 180px;

    &__item {
      display: flex;
      height: $header-height;
      padding: 0 2px;
      font-size: 1.2em;
      cursor: pointer;
      align-items: center;
    }

    span[role='img'] {
      padding: 0 8px;
    }
  }

}
