@import '../../../styles/index.scss';
$header-trigger-prefix-cls: '#{$namespace}-layout-header-trigger';
$header-prefix-cls: '#{$namespace}-layout-header';
$locale-prefix-cls: '#{$namespace}-app-locale-picker';
$breadcrumb-prefix-cls: '#{$namespace}-layout-breadcrumb';
$logo-prefix-cls: '#{$namespace}-app-logo';

.#{$header-prefix-cls} {
  display: flex;
  height: $header-height;
  padding: 0;
  margin-left: -1px;
  color: $white;
  background: $white;
  align-items: center;
  justify-content: space-between;

  &--light {
    background-color: $white;
    border-bottom: 1px solid $header-light-bottom-border-color;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $layout-header-fixed-z-index;
  }

  &-left {
    display: flex;
    align-items: center;
    height: 100%;

    .#{$header-prefix-cls}-logo {
      height: 100%;
    }
  }

  &-logo {
    padding: 0 10px;
  }

  &-action {
    display: flex;
    align-items: center;
    padding-right: 12px;
    height: 100%;
  }

}
